<?xml version="1.0"?>
<configuration>
	<system.webServer>
	<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
      </customHeaders>
    </httpProtocol>
		<staticContent>
			<!-- Configure site to serve JSON files -->
			<remove fileExtension=".json"/>
			<mimeMap fileExtension=".json" mimeType="application/json"/>
			<!-- Configure site to serve font files -->
			<remove fileExtension=".otf"/>
			<mimeMap fileExtension=".otf" mimeType="font/otf"/>
		</staticContent>
	</system.webServer>
	<system.web>
		
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
</configuration>