<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true" xmlns="proxy.xsd">
    <serverUrls>
        <serverUrl url="http://10.254.130.59/MociPortal/"
                   matchAll="true"/>
                         <serverUrl url="https://gisstg.moci.gov.qa/geoportal/sharing/rest/portals/0123456789ABCDEF/users/"
                   matchAll="true"/>
                   
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
